**.log
**.txt

/practice
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Frontend/portfolio/node_modules
/Frontend/portfolio/.pnp
/Frontend/portfolio/.pnp.js

# testing
/Frontend/portfolio//coverage

# production
/Frontend/portfolio//build

# misc
/Frontend/portfolio/.DS_Store
/Frontend/portfolio/.env.local
/Frontend/portfolio/.env.development.local
/Frontend/portfolio/.env.test.local
/Frontend/portfolio/.env.production.local

/Frontend/portfolio/npm-debug.log*
/Frontend/portfolio/yarn-debug.log*
/Frontend/portfolio/yarn-error.log*
